/* 工具 */
a {
  cursor: pointer;
  transition: all 0.1s ease-out;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul,
ol {
  margin: 0;
  padding: 0;
}
/* 变量 */
/**
*Author:alone
*CreatTime:2017/3/31
*/
/* 基础样式及工具 */
html,
body {
  height: 100%;
}
@media (max-width: 767px) {
  .hidden-xs {
    display: none !important;
  }
  .account-container {
    max-width: 96%;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .hidden-sm {
    display: none !important;
  }
  .account-container {
    max-width: 350px;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .hidden-md {
    display: none !important;
  }
  .account-container {
    max-width: 350px;
  }
}
@media (min-width: 1200px) {
  .ixm-container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
  }
  .hidden-lg {
    display: none !important;
  }
  .account-container {
    max-width: 350px;
  }
}
/* 自定义样式 */
#header {
  position: relative;
  display: block;
  width: 100%;
  background-color: #00b4e9;
  margin-bottom: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #00a9de;
  box-shadow: 0 2px 6px #d1d1d1;
}
#header .ixm-nav {
  padding-left: 15px;
  padding-right: 15px;
}
#header .ixm-nav:after {
  clear: both;
  content: ' ';
  height: 0;
  width: 0;
  display: block;
  visivilty: hidden;
}
#header .logo {
  display: block;
  position: relative;
  height: 69px;
  float: left;
  background: url('http://www.ixm.gov.cn/dis/images/trs_logo.png') no-repeat;
}
#header .header-nav {
  display: block;
  position: relative;
  float: right;
}
#header .header-nav .nav-menu {
  line-height: 34px;
  color: #fff;
}
#header .header-nav .nav-menu li {
  display: inline-block;
  position: relative;
  float: left;
  padding: 0 15px;
}
#header .header-nav .nav-menu li a {
  font-size: 14px;
  color: #fff;
  text-align: center;
}
#header .header-nav .nav-menu li a:hover {
  color: #ffffff;
}
#header .header-nav .nav-menu li span {
  display: inline-block;
  position: relative;
  padding: 0px 5px;
  color: #fff;
}
#header .header-nav .nav-menu:after {
  clear: both;
  content: ' ';
  height: 0;
  width: 0;
  display: block;
  visivilty: hidden;
}
.wrap {
  margin-top: -115px;
  margin-bottom: -86px;
  padding-top: 115px;
  padding-bottom: 86px;
  min-height: 100%;
  background-color: #f9f9f9;
}
.wrap:after {
  clear: both;
  content: ' ';
  height: 0;
  width: 0;
  display: block;
  visivilty: hidden;
}
.wrap .ixm-body {
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #fff;
  border: 1px solid #d9d9d9;
  border-radius: 5px;
}
.wrap .ixm-body:after {
  clear: both;
  content: ' ';
  height: 0;
  width: 0;
  display: block;
  visivilty: hidden;
}
.warm-text {
  padding-left: 20px;
  padding-right: 40px;
  font-size: 14px;
  line-height: 32px;
  color: #a0a0a0;
  border-left: 1px #dedede solid;
}
.container-top {
  padding-top: 25px;
  padding-bottom: 25px;
  font-size: 20px;
  line-height: 35px;
  text-indent: 50px;
}
/* 底部自定义样式 */
#footer {
  position: relative;
  display: block;
  margin-top: 15px;
  padding: 10px 0px;
  margin-bottom: 0;
  color: #3e3e3e;
  background-color: #f6f6f6;
  border-top: 1px solid #e0e0e0;
}
#footer #imgConac {
  width: 50px;
}
/* =================按钮颜色重定义============= */
.btn-primary {
  border-color: #00b4e9;
  background-color: #00bff7;
  background-image: -webkit-linear-gradient(top, #00c5ff, #00b4e9);
  background-image: -o-linear-gradient(top, #00c5ff, #00b4e9);
  background-image: linear-gradient(top, #00c5ff, #00b4e9);
  background-image: -ms-linear-gradient(top, #00c5ff, #00b4e9);
  background-image: -moz-linear-gradient(top, #00c5ff, #00b4e9);
}
.btn-primary:hover {
  color: #fff;
  border-color: #00a4d4;
  background-color: #00bff7;
}
.btn-primary:active,
.btn-primary.active.focus,
.btn-primary.active:focus,
.btn-primary.active:hover,
.btn-primary:active.focus,
.btn-primary:active:focus,
.btn-primary:active:hover,
.open > .dropdown-toggle.btn-primary.focus,
.open > .dropdown-toggle.btn-primary:focus,
.open > .dropdown-toggle.btn-primary:hover {
  color: #fff;
  border-color: #00a4d4;
  background-color: #00bff7;
}
/*================以上代码仅用于i厦门=================*/
#searchresult .resultlist .cover {
  height: 140px;
  overflow: hidden;
  text-align: center;
}
#searchresult .resultlist .cover img {
  position: relative;
  text-align: center;
}
#searchresult .resultlist .resultinfo p {
  text-align: center;
  white-space: nowrap;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  overflow: hidden;
}
.tag-list {
  padding: 15px 0;
}
.tag-list label {
  position: relative;
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
  padding: 1px 10px;
  color: #666;
  font-weight: normal;
  border-radius: 2px;
}
.tag-list label.active {
  color: #fff;
  background-color: #4b8ccb;
}
.tag-list label.active:hover {
  background-color: #4b8ccb;
}
.tag-list label:hover {
  background-color: #efefef;
}
.tag-list:after {
  clear: both;
  content: ' ';
  height: 0;
  width: 0;
  display: block;
  visivilty: hidden;
}
.account-container {
  position: relative;
  margin: 0 auto;
  margin-top: 60px;
  padding: 15px 25px;
  border: 1px solid #eee;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 15px 30px 0 rgba(0, 0, 1, 0.1);
}
.account-container:after {
  clear: both;
  content: ' ';
  height: 0;
  width: 0;
  display: block;
  visivilty: hidden;
}
ul.login-tab li {
  position: relative;
  width: 50%;
  float: left;
  font-size: 18px;
  line-height: 2.4;
  color: #aeaeae;
  text-align: center;
  cursor: pointer;
}
ul.login-tab li.active {
  font-weight: bold;
  color: #337ab7;
  border-bottom: 2px solid #337ab7;
}
.qcodebtn {
  position: absolute;
  top: 0;
  right: 0;
  width: 30px;
  height: 30px;
  cursor: pointer;
}
.login-form {
  border: 1px solid #eee;
  border-radius: 5px;
  background-color: #fff;
}
.login-form .form-title {
  margin-bottom: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 18px;
  line-height: 1.42857143;
  border-bottom: 2px solid #eee;
}
.login-form .form-title span.smalltitle {
  position: relative;
  float: right;
  font-size: 12px;
}
.form-group .help-block {
  margin-bottom: 0;
}
/*文件上传样式*/
.uploadtable {
  padding: 15px 0;
}
.uploadtable label {
  float: left;
  width: 150px;
  padding: 0 10px 0 40px;
  line-height: 32px;
  font-size: 14px;
  font-weight: 400;
  color: #666;
}
.uploadtable .upload_container {
  float: left;
  width: 500px;
}
.uploadtable .upload_container .uploader-list {
  display: block;
  width: 250px;
  height: 250px;
  border: 2px dashed #e6e6e6;
}
.uploadtable .upload_container .uploadBtn {
  z-index: 99;
  display: block;
  margin: 0 auto;
  padding-top: 15px;
}
.uploadtable .upload_exmaple {
  width: 500px;
}
.uploadtable:after {
  clear: both;
  content: ' ';
  height: 0;
  width: 0;
  display: block;
  visivilty: hidden;
}
/*i厦门首页*/
.indexAppcon {
  width: 770px;
}
.indexAppcon ul li {
  position: relative;
  float: left;
  width: 70px;
  margin-right: 20px;
  text-align: center;
  overflow: hidden;
}
.indexAppcon ul li a {
  display: block;
  color: #00b4e9;
  line-height: 30px;
  text-align: center;
  text-shadow: #ffffff 1px 0 0, #ffffff 0 1px 0, #ffffff -1px 0 0, #ffffff 0 -1px 0;
}
.Appicon {
  height: 70px;
  margin: auto 0;
  border-radius: 3px;
  text-align: center;
}
.Appicon img {
  margin-top: 10px;
  width: 50px;
  height: 50px;
  border: 0px;
  vertical-align: middle;
}
