/* 工具 */
a {
  cursor: pointer;
  transition: all 0.1s ease-out;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul,
ol {
  margin: 0;
  padding: 0;
}
/* 变量 */
/**
*Author:alone
*CreatTime:2017/3/31
*/
/* 基础样式及工具 */
html,
body {
  height: 100%;
}
@media (max-width: 767px) {
  .hidden-xs {
    display: none !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .hidden-sm {
    display: none !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .hidden-md {
    display: none !important;
  }
}
@media (min-width: 1200px) {
  .hidden-lg {
    display: none !important;
  }
}
/* 自定义样式 */
#header {
  position: relative;
  display: block;
  width: 100%;
  background-color: #fff;
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #f4f4f4;
  box-shadow: 0px 0px 15px 0px #ccc;
}
#header .logo {
  display: block;
  position: relative;
  width: 300px;
  height: 69px;
  float: left;
  background: url('../images/logo.png') no-repeat;
}
#header .header-nav {
  display: block;
  position: relative;
  float: right;
  padding: 15px auto;
}
#header .header-nav .nav-menu {
  line-height: 34px;
}
#header .header-nav .nav-menu li {
  display: inline-block;
  position: relative;
  float: left;
  padding: 0 15px;
}
#header .header-nav .nav-menu li a {
  display: block;
  font-size: 16px;
  color: #333;
  text-align: center;
}
#header .header-nav .nav-menu li a:hover {
  color: #a2a2a2;
}
#header .header-nav .nav-menu li span {
  display: inline-block;
  position: relative;
  padding: 0px 5px;
  color: #333;
}
#header .header-nav .nav-menu:after {
  clear: both;
  content: ' ';
  height: 0;
  width: 0;
  display: block;
  visivilty: hidden;
}
.wrap {
  margin-top: -100px;
  margin-bottom: -131px;
  padding-top: 100px;
  padding-bottom: 131px;
  min-height: 100%;
}
.wrap:after {
  clear: both;
  content: ' ';
  height: 0;
  width: 0;
  display: block;
  visivilty: hidden;
}
.login-form {
  border: 1px solid #eee;
  border-radius: 5px;
  background-color: #fff;
}
.login-form .form-title {
  margin-bottom: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 18px;
  line-height: 1.42857143;
  border-bottom: 2px solid #eee;
}
.login-form .form-title span.smalltitle {
  position: relative;
  float: right;
  font-size: 12px;
}
.form-group .help-block {
  margin-bottom: 0;
}
/* 底部自定义样式 */
#footer {
  position: relative;
  display: block;
  margin-top: 60px;
  padding: 10px 0px;
  margin-bottom: 0;
  color: #3e3e3e;
  background-color: #f6f6f6;
  border-top: 1px solid #e0e0e0;
}
#footer #imgConac {
  width: 50px;
}
