@import './variables.less';


/**
*Author:alone
*CreatTime:2017/3/31
*/


/* 基础样式及工具 */

html,
body {
    height: 100%;
}

@media (max-width: 767px) {
    .hidden-xs {
        display: none !important;
    }
    .account-container {
        max-width: 96%;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .hidden-sm {
        display: none !important;
    }
    .account-container {
        max-width: 350px;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .hidden-md {
        display: none !important;
    }
    .account-container {
        max-width: 350px;
    }
}

@media (min-width: 1200px) {
    .hidden-lg {
        display: none !important;
    }
    .account-container {
        max-width: 350px;
    }
}



/* 自定义样式 */

#header {
    position: relative;
    display: block;
    width: 100%;
    background-color: @header-bg;
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid @header-bg - 11;
    box-shadow: 0px 0px 15px 0px #ccc;
    .logo {
        display: block;
        position: relative;
        width: 600px;
        height: 69px;
        float: left;
        background: url('http://www.ixm.gov.cn/dis/images/trs_logo.png') no-repeat;
    }
    .header-nav {
        display: block;
        position: relative;
        float: right;
        padding: 15px auto;
        .nav-menu {
            line-height: 34px;
            li {
                display: inline-block;
                position: relative;
                float: left; //width: 80px;
                padding: 0 15px;
                a {
                    display: block;
                    font-size: 16px;
                    color: @nav-text;
                    text-align: center;
                    &:hover {
                        color: @nav-text + 111;
                    }
                }
                span {
                    display: inline-block;
                    position: relative;
                    padding: 0px 5px;
                    color: @nav-text;
                }
            }
            &:after {
                .clearfix
            }
        }
    }
}

.wrap {
    margin-top: -100px;
    margin-bottom: -101px;
    padding-top: 100px;
    padding-bottom: 101px;
    min-height: 100%;
    &:after {
        .clearfix
    }
}

.container-top {
    padding-top: 25px;
    padding-bottom: 25px;
    font-size: 20px;
    line-height: 35px;
}


/*================以上代码仅用于i厦门=================*/

#searchresult {
    .resultlist {
        .cover {
            height: 140px;
            overflow: hidden;
            text-align: center;
            img {
                position: relative;
                text-align: center;
            }
        }
        .resultinfo {
            p {
                text-align: center;
                white-space: nowrap;
                text-overflow: ellipsis;
                -o-text-overflow: ellipsis;
                overflow: hidden;
            }
        }
    }
}

.tag-list {
    padding: 15px 0;
    label {
        position: relative;
        float: left;
        margin-right: 10px;
        margin-bottom: 10px;
        padding: 1px 10px;
        color: #666;
        font-weight: normal;
        border-radius: 2px;
        &.active {
            color: #fff;
            background-color: #4b8ccb;
            &:hover {
                background-color: #4b8ccb;
            }
        }
        &:hover {
            background-color: #efefef;
        }
    }
    &:after {
        .clearfix
    }
}

.account-container {
    position: relative;
    margin: 0 auto;
    margin-top: 60px;
    padding: 15px 25px;
    border: 1px solid #eee;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 15px 30px 0 rgba(0, 0, 1, .1);
    &:after {
        .clearfix
    }
}

ul.login-tab {
    li {
        position: relative;
        width: 50%;
        float: left;
        font-size: 18px;
        line-height: 2.4;
        color: #aeaeae;
        text-align: center;
        cursor: pointer;
        &.active {
            font-weight: bold;
            color: #337ab7;
            border-bottom: 2px solid #337ab7;
        }
    }
}

.qcodebtn {
    position: absolute;
    top: 0;
    right: 0;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.login-form {
    border: 1px solid #eee;
    border-radius: 5px;
    background-color: #fff;
    .form-title {
        margin-bottom: 15px;
        padding-top: 15px;
        padding-bottom: 15px;
        font-size: 18px;
        line-height: 1.42857143;
        border-bottom: 2px solid #eee;
        span.smalltitle {
            position: relative;
            float: right;
            font-size: 12px;
        }
    }
}

.form-group .help-block {
    margin-bottom: 0;
}



/* 底部自定义样式 */

#footer {
    position: relative;
    display: block;
    margin-top: 30px;
    padding: 10px 0px;
    margin-bottom: 0;
    color: @text-dark+11;
    background-color: @footer-bg;
    border-top: 1px solid @footer-bg - 22;
    #imgConac {
        width: 50px;
    }
}


/*文件上传样式*/

.uploadtable {
    padding: 15px 0;
    label {
        float: left;
        width: 150px;
        padding: 0 10px 0 40px; //height: 35px;
        line-height: 32px;
        font-size: 14px;
        font-weight: 400;
        color: #666;
    }
    .upload_container {
        float: left;
        width: 500px;
        .uploader-list {
            display: block;
            width: 250px;
            height: 250px;
            border: 2px dashed #e6e6e6;
        }
        .uploadBtn {
            z-index: 99;
            display: block;
            margin: 0 auto;
            padding-top: 15px;
        }
    }
    .upload_exmaple {
        width: 500px;
    }
    &:after {
        .clearfix
    }
}


/*i厦门首页*/

.indexAppcon {
    width: 770px;
    ul {
        li {
            position: relative;
            float: left;
            width: 70px;
            margin-right: 20px;
            text-align: center;
            overflow: hidden;
            a {
                display: block;
                color: #00b4e9;
                line-height: 30px;
                text-align: center;
                text-shadow: #ffffff 1px 0 0, #ffffff 0 1px 0, #ffffff -1px 0 0, #ffffff 0 -1px 0;
            }
        }
    }
}

.Appicon {
    height: 70px;
    margin: auto 0;
    border-radius: 3px;
    text-align: center;
    img {
        margin-top: 10px;
        width: 50px;
        height: 50px;
        border: 0px;
        vertical-align: middle;
    }
}