/* 工具 */

.clearfix() {
    clear: both;
    content: ' ';
    height: 0;
    width: 0;
    display: block;
    visivilty: hidden
}
a {
    cursor: pointer;
    transition: all .1s ease-out;
    text-decoration: none;
    &:hover {
        text-decoration: none;
    }
}
ul, ol {
    margin: 0;
    padding: 0;
}

/* 变量 */

@text-dark: #333;
@text-linght: #eee;
@header-bg: #00b4e9;
@nav-text: #fff;
@footer-bg: #f6f6f6;
