<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>HOME</title>
    <!-- inject:base:css -->
    <!-- endinject -->
    <!--IEhack@include('./include/IEhack.html')-->
</head>

<body>
    @@include('./include/header.html')
    <div class="container wrap">
        <div id="app">
            <div class="col-xs-3" v-for="list in lists">
                <img v-bind:data-original="list.imgsrc" class="lazy" />
                <!-- <img v-bind:src="list.imgsrc" class="lazy" /> -->
                <p>{{ list.title }}</p>
            </div>
            <div class="col-xs-3">
                <img v-if="inputfile.seen" v-bind:src="inputfile.src" />
                <input type="file" v-on:change="uploadpic" />
            </div>
        </div>
    </div>
    @@include('./include/footer.html')
    <!-- inject:xxx:js -->
    <!-- endinject -->
    <script src="js/lib/require.js"></script>
    <script>
    require(['脚本vueController'], function() {});
    </script>
</body>

</html>
